# Build
build/
cmake-build-*/
out/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Compiled
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# OS
.DS_Store
Thumbs.db
